<!DOCTYPE html>
<html>
	<head>
		<title>Orientation Test</title>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	</head>
	<body>
		<%- body %>
	</body>
</html>